.loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  background-color: white; /* Solid white background */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  z-index: 9999; /* Set a high z-index to ensure it's on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
}
